<section class="section-form">
    <form id="loginForm" class="form-container">
        <div class="form-group">
            <label for="email">Email :</label>
            <input type="email" id="email" name="email" required>
        </div>

        <div class="form-group">
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="password" required>
        </div>
        
        <!-- Phrase d'inscription -->
        <p class="signup-prompt">
            Vous n'avez pas de compte ? <a href="#signup" class="signup-link">Inscrivez-vous ici</a>
        </p>
        <div class="connect-btn">
            <button type="submit" class="cancel-btn">Se connecter</button>
            <a href="#" class="cancel-btn">Intra 42</a>
            <a href="#" class="cancel-btn">Annuler</a>
        </div>
    </form>
    <div id="response"></div>
</section>