/* Polices Importées */
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=VT323&display=swap');

/* Styles Généraux */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Orbitron', sans-serif;
    background: radial-gradient(circle at center, #0a0a0a, #11151d);
}

.section-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    color: #e6f1ff;
    height: 100vh;
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.3);
}

.form-container {
    width: 100%;
    max-width: 500px;
    padding: 3rem;
    border: 2px solid rgba(0, 255, 255, 0.2);
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.85);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.3);
    transition: width 0.3s ease;
    position: relative;
}

/* Boutons */
.button-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    gap: 24px;
}


/* Styles des Champs */
.form-group {
    margin-bottom: 1.5rem;
    position: relative;
}

.form-group label {
    display: block;
    margin-bottom: 0.3rem;
    font-size: 1rem;
    color: #00fff2; /* Couleur néon jaune */
    font-family: 'VT323', monospace;
    text-shadow: 0 0 3px #a08405;
}

.form-group input {
    width: 100%;
    padding: 0.6rem;
    font-size: 1rem;
    background: #1A1D1F;
    border: 1px solid #444;
    border-radius: 5px;
    color: #FFFFFF;
    outline: none;
    transition: border 0.3s, box-shadow 0.3s;
}

.form-group input:focus {
    border: 1px solid #025c63;
    box-shadow: 0 0 8px #025c63;
}

/* Bouton Envoyer */
#submitBtn, .cancel-btn {
    padding: 0.8rem;
    font-size: 1.1rem;
    background: #005555;
    color: #e6e6e6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 0 10px #00ffbf;
    transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease, background 0.3s ease;
    position: relative;
    z-index: 1;
}

#submitBtn::before,
.cancel-btn::after,
#submitBtn::before,
.cancel-btn::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    border-radius: 5px;
    background: linear-gradient(90deg, #470247, #025c63, #a08405, #6d016d);
    background-size: 300% 300%;
    animation: neonGradient 4s linear infinite;
}

#submitBtn::before, .cancel-btn::before {
    filter: blur(8px);
    opacity: 0.7;
}

#submitBtn::after, .cancel-btn::after {
    filter: blur(0);
    opacity: 1;
    border: 2px solid transparent;
}

#submitBtn:hover, .cancel-btn:hover {
    transform: scale(1.08);
    box-shadow: 0 0 15px #5f015f;
    animation: glitchText 0.4s infinite alternate;
}

/* Bouton Annuler */
 .cancel-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 0 15px rgba(234, 0, 255, 0.6);
    transition: box-shadow 0.3s ease;
    text-decoration: none;
}


/* Bouton de Téléchargement d'Image */
.image-btn {
    width: 100%;
    height: 120px;
    margin: 1rem 0;
    background: rgba(0, 0, 0, 0.7);
    border: 2px dashed #0ff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0ff;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.image-btn:hover {
    border-color: #ff007b;
    box-shadow: 0 0 20px rgba(255, 0, 123, 0.5);
}

/* Styles des Messages de Réponse */
#response {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 5px;
    text-align: center;
    opacity: 0;
    display: none;
    transition: opacity 0.5s ease-in-out;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.6);
    z-index: 1000000;
}

#response.success {
    background: linear-gradient(45deg, #39ff14, #00ff00);
    color: #000;
    border: 2px solid rgba(57, 255, 20, 0.8);
}

#response.error {
    background: linear-gradient(45deg, #ff007b, #e600ff);
    color: #fff;
    border: 2px solid rgba(255, 0, 123, 0.8);
}

/* Animations */
@keyframes neonGradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@keyframes glitchText {
    0% {
        text-shadow: 2px 0px #025c63, -2px 0px #a08405;
    }
    50% {
        text-shadow: -2px 0px #FF00FF, 2px 0px #025c63;
    }
    100% {
        text-shadow: 2px 0px #a08405, -2px 0px #025c63;
    }
}

/* Suppression des flèches sur les inputs de type number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}


#imagePreview {
  width: 100%;
  height: 120px;
  object-fit: contain;
}